body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    color: #40514e;
    background-color: #e4f9f5;
    background-size: 12.5rem ;
    background-image: url(../pics/giphy1.gif);
    background-repeat: no-repeat;
    background-position: right top ;
    background-attachment:fixed;
}
 

h1{
    color: #66bfbf;
    font-size: 5.625rem;
    margin-top: 0;
    font-family: 'Sacramento', cursive;
    position: absolute;
    top: 40%;
    left: 10%;
}

h2{
    color: #66bfbf;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
    
}
h3{
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
}
p{
    line-height: 2;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: #eaf6f6;
    border-width: 5px;
    width: 5%;
    margin: 100px auto;
}
a{
    color: #11999e;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px ;
    text-decoration: none;
}
a:hover{
    color: #eaf6f6;
}
/* Class Selectors */
.pro{
    text-decoration: underline;
}
.top-container{
    background-color: #e4f9f5;
    margin-top: 6.25rem;
    
    
    
}
.middle-container{
    
    background-color: #ffffff;
    padding-top: 3.125rem;
    padding-bottom: 5rem;
    
}

.bottom-container{
    background-color: #66bfbf;
    padding: 3.125rem 0 1.25rem;
}


.top-cloud{
    position: absolute;
    right: 23.75rem;
    top: 5rem;
    border-bottom: 3px solid ;
    border-image: linear-gradient(135deg, #ff0000 0%, #0000ff 25%, #00ff00 100%) 1;

}

.bottom-cloud{
    position: absolute;
    left: 400px;
    bottom: 500px;
    border-bottom: 3px solid ;
    border-image: linear-gradient(135deg, #00ff00 0%, #ff0000 25%, #0000ff 100%) 1;
}
.circular{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    box-shadow: 1px 100px 120px 185px #FFFFB5;

}
.curvey{
    
    width: 25%;
    border-radius: 70px;
    float: left;
    margin-right: 30px;
    box-shadow: -100px -5px 300px 150px #B5EAEA;

}
.circ{
    width: 25%;
    border-radius: 100%;
    float: right;
    margin-left: 30px;
    box-shadow: 100px -5px 300px 20px #DA0037;
}

.sun{
    text-align: center;
    margin: 0;
    height: 400px;
    width: 400px;
    border-radius: 100% ;
    background-color: #FFFAA4;
    position: relative;
    left: 37%;
    

}

.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
}



.intro{
    width: 30%;
    margin: auto;
}

.contact-msg{
    width: 40%;
    margin: 40px auto 50px;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

.copyright{
    color: #eaf6f6;
    font-size: 0.75rem ;
    padding: 20px 0px;
}

.yoda{
    position: relative;
    background-size: 12.5rem ;
    background-image: url(../pics/giphy1.gif);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment:fixed;
    margin: 0;
    
    

}
.yo{
    background-size: 12.5rem ;
    background-image: url(../pics/giphy1.gif);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment:fixed;
    margin: 0;
    
}

::-webkit-scrollbar{
    width: 0.625rem;
    
}

::-webkit-scrollbar-track{
    background-image: url(../pics/giphy.gif);
    border-radius: 2.15rem;
}
::-webkit-scrollbar-thumb{
    background-color: #e4f9f5;
    border-radius: 1.25rem; 
    width: 100px;
    
}
